<div id="content">
  <div id="map"></div>
</div>

<div id="wrapper_header">
  <div id="header">
    <nav class="navbar navbar-default" role="navigation">
    <!--<button (click)="setUserName()" class="btn btn-default"> </button>-->
    <div id="logo"></div>
    <div id="name">Yandex Map</div>
    <div>
     <form #mForm="ngForm" class="navbar-form navbar-left" role="search" novalidate (ngSubmit)="toSearchMarker(mForm)">
       <div [class.has-error]="mForm.invalid && mForm.touched" [class.has-success]="mForm.valid" class="form-group">
          <input name="lat" id="latSearch" type="text" ngModel #lat="ngModel"
          class="form-control" required pattern="^[+-]?((([\d]|[1-2][\d]|[3-4][\d]|[5-6][\d]|7[\d]|8[0-4])[.]{1}[\d]{1,16})|([\d]|[1-2][\d]|[3-4][\d]|[5-6][\d]|7[\d]|8[0-5]))$" placeholder="latitude">
       </div>
       <div [class.has-error]="mForm.invalid && mForm.touched" [class.has-success]="mForm.valid" class="form-group">
          <input name="lng" id="lngSearch" type="text" ngModel #lng="ngModel"
          class="form-control" required pattern="^[+-]?((([0-9]|[1-2][\d]|[3-4][\d]|[5-6][\d]|[7-8][\d]|9[\d]|10[\d]|1[0-2][\d]|1[2-3][\d]|1[4-5][\d]|1[5-6][\d]|17[\d])[.]{1}[\d]{1,16})|([\d]|[1-2][\d]|[3-4][\d]|[5-6][\d]|[7-8][\d]|9[\d]|1[0-1][\d]|1[2-3][\d]|1[4-5][\d]|1[5-6][\d]|17[\d]|180))$" placeholder="longitude">
       </div>
       <div class="form-group">
         <button name="but-search" type="submit" [disabled]="mForm.invalid" class="btn btn-default">
           <span class="glyphicon glyphicon-search"></span>Search
         </button>
       </div>
       <div class="form-group btn-wrapper-search" [style.display]= "!submittedForm ? 'none' : 'inline'" >
         <button  [style.display]="isSaveSearchMarker ? 'none' : 'inline-block' " (click)="saveSearchMark()" type="button" class="btn btn-default">
           <span class="glyphicon glyphicon-heart-empty"></span>
         </button>
         <button  [style.display]="isSaveSearchMarker ? 'inline-block' : 'none' " (click)="deleteSearchMark()" type="button" class="btn btn-default">
           <span class="glyphicon glyphicon-heart"></span>
         </button>
       </div>
    </form>
   </div>
   <ul class="nav navbar-nav navbar-right" style="margin-top: .6em; margin-right: .5em;">
     <li>
       <button name="but-change-prop" type="submit" class="btn btn-default" (click)="downloadPdfFile()" ><span class="glyphicon glyphicon-download-alt"></span>Report</button>
     </li>
     <li>
       <a id="linkLogout" href="./logout">Logout</a>
     </li>
     <li>
       <div> <p>Welcome,<br> user <strong>{{currentUserName}}</strong> !</p></div>
     </li>
   </ul>
 </nav>
 </div>
</div>

<div id="infoMark" *ngIf="!!selectedMark.longitude">
  <div id="iMark">
    <h1>Info of a mark</h1>
    <div class="btn-wrapper">
      <button [style.display]="isSaveSelectedMarker ? 'none' : 'inline-block' " (click)="saveSelectedMark()" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </button>
      <button [style.display]="isSaveSelectedMarker ? 'inline-block' : 'none' " (click)="deleteSelectedMark()" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-heart"></span>
      </button>
    </div>
  </div>
  <div id="propertiesMark">
    <strong>Name: </strong>{{selectedMark.iconContent}}<br>
    <strong>Coords: </strong> ({{selectedMark.latitude}}, {{selectedMark.longitude}})
    <textarea rows="6" class="form-control" disabled>{{selectedMark.balloonContentBody}}</textarea>
  </div>
</div>

<div id="tableMarksHeader" *ngIf="markers.length!=0">
  <h1>Table of marks</h1>
  <div id="tableMarks">
    <ul class="Marks">
      <li *ngFor="let m of markers"><div id="table-span">{{m.iconContent}}</div>
        <div id="table-buttons">
          <button (click)="getModalFormForMark(m)" id="changeIcon" type="button" class="btn btn-link btn-xs">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button (click)="deleteMarkFromTable(m)" id="trashIcon" type="button" class="btn btn-link btn-xs">
            <span  class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-modal-form [(marker)]="selectedMarkForModalForm"
[markers]="markers" (readyForm)="onClickButtonModalForm($event)">
</app-modal-form>
